<div *ngIf="this.characters"
     class="block"
     [class.left]="isMyTeam"
     [class.right]="!isMyTeam"
>
    <div class="inset-block rpgui-container framed">
        <characterInfoComponent *ngFor="let characterId of getCharactersKeys()"
                                [class.selected]="characterId === gameService.selectedCharacterId"
                                [class.targeted]="characterId === gameService.targetsIds[gameService.selectedCharacterId]"
                                (click)="selectUnit(characterId)"
                                [position]="position"
                                [character]="this.characters[characterId]"></characterInfoComponent>
    </div>
</div>