<div *ngIf="characters"
     class="block"
     [class.left]="isMyTeam"
     [class.right]="!isMyTeam"
>
    <characterInfoComponent *ngFor="let characterId of getCharactersKeys()"
                            [class.selected]="characterId === gameService.selectedCharacterId"
                            [class.targeted]="characterId === gameService.targetsIds[gameService.selectedCharacterId]"
                            (click)="selectUnit(characterId)"
                            [position]="position"
                            [character]="characters[characterId]"></characterInfoComponent>
</div>