:host {
    display: block;
    border: solid 1px black;
}

.block {
    position: absolute;
    top: 0;
    background: black;
    width: 25%;
    height: 100%;
    text-align: left;
}

.left {
    left: 0;
}

.right {
    right: 0;
    text-align: right;
}

.selected {
    border: solid 1px green;
}

.targeted {
    border: solid 1px red;
}

@media all and (max-width: 600px) {
    :host {
        position: static;
        display: inline-block;
        width: 50%;
        font-size: medium;
        vertical-align: top;
    }

    .block {
        width: 100%;
        height: auto;
        position: static;
    }
}