:host {
    display: block;
    border: solid 1px black;
}

.block {
    position: absolute;
    top: 0;
    background: black;
    width: 25%;
    height: 100%;
    text-align: left;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.selected {
    border: solid 1px green;
}

.targeted {
    border: solid 1px red;
}