<div class="attack">
    <div class="title">Lite strike</div>
    <div class="description">
        <div>does medium holly damage</div>
    </div>
</div>
<div class="heal">
    <div class="title">Self Heal</div>
    <div class="description">
        <div>instant heal for a small amount of health</div>
    </div>
</div>
<div class="attack">
    <div class="title">Flash of lite</div>
    <div class="description">
        <div>does low holly damage</div>
        <div>adds stun effect</div>
    </div>
</div>
<div class="heal">
    <div class="title">Great miracle</div>
    <div class="description">
        <div>instant heal for a medium amount of health</div>
    </div>
</div>
<div class="buff">
    <div class="title">Invulnerability</div>
    <div class="description">
        <div>increases defences against fire, piercing, blunt, shadow, frost and holly damage</div>
    </div>
</div>
<div class="buff">
    <div class="title">Pray of lite</div>
    <div class="description">
        <div>increases damage</div>
    </div>
</div>
<div class="attack">
    <div class="title">Death pray</div>
    <div class="description">
        <div>does medium death damage with higher crit</div>
    </div>
</div>
<div class="attack">
    <div class="title">Lite blast</div>
    <div class="description">
        <div>does very high holly damage</div>
    </div>
</div>