<div class="attack">
    <div class="title">Poisoned knife</div>
    <div class="description">
        <div>does low piercing damage</div>
        <div>adds poison effect</div>
    </div>
</div>
<div class="attack">
    <div class="title">Brass knock</div>
    <div class="description">
        <div>does low blunt damage</div>
    </div>
</div>
<div class="attack">
    <div class="title">Handmade bomb</div>
    <div class="description">
        <div>does medium piercing damage</div>
        <div>adds stun effect</div>
    </div>
</div>
<div class="buff">
    <div class="title">Improved crit</div>
    <div class="description">
        <div>increases damage and chance of a crit</div>
    </div>
</div>
<div class="buff">
    <div class="title">Simple trick</div>
    <div class="description">
        <div>nullifies chance of incoming crits</div>
    </div>
</div>
<div class="buff">
    <div class="title">Brotherhood covenant</div>
    <div class="description">
        <div>increases defences against fire and piercing damage</div>
    </div>
</div>
<div class="debuff">
    <div class="title">Throwing knives</div>
    <div class="description">
        <div>adds bleed effect</div>
    </div>
</div>
<div class="buff">
    <div class="title">Thief amulet</div>
    <div class="description">
        <div>removes bleed, poison, blind and stun effects</div>
    </div>
</div>