<div class="attack">
    <div class="title">Far lunge</div>
    <div class="description">
        does medium piercing damage
    </div>
</div>
<div class="attack">
    <div class="title">Blades whirlwind</div>
    <div class="description">
        does low cutting damage, adds bleeding effect
    </div>
</div>
<div class="buff">
    <div class="title">Defence stance</div>
    <div class="description">
        <div>increases defence against cutting and piercing damage</div>
        <div>removes all bleeding effects</div>
    </div>
</div>
<div class="buff">
    <div class="title">Battle cry</div>
    <div class="description">
        increases crit chance
    </div>
</div>
<div class="buff">
    <div class="title">Second wind</div>
    <div class="description">
        resurrect character upon death
    </div>
</div>
<div class="buff">
    <div class="title">Battle stance</div>
    <div class="description">
        increases damage
    </div>
</div>
<div class="attack">
    <div class="title">Suppress shout</div>
    <div class="description">
        <div>does very low damage</div>
        <div>stuns target</div>
    </div>
</div>
<div class="attack">
    <div class="title">Spear throw</div>
    <div class="description">
        does medium damage
    </div>
</div>