<h1>Select your character</h1>
<div class="block">
    <div class="portraits">
        <div class="portrait-box" *ngFor="let character of characters">
            <div [class.portrait]="true"
            [class.selected]="selectedCharacter === character"
            (click)="setSelected(character)"
            [style.backgroundImage]="'url(https://res.cloudinary.com/dstnxq7wt/image/upload/v1540758665/battle/characters/' + character.id + '.png)'"
            ></div>
            <div class="name">{{character.name}}</div>
        </div>
    </div>
</div>
<div class="info">
    <selectedCharacterComponent [character]="selectedCharacter"></selectedCharacterComponent>
</div>