<div class="attack">
    <div class="title">Fireball</div>
    <div class="description">
        does medium fire damage
    </div>
</div>
<div class="buff">
    <div class="title">Magic shield</div>
    <div class="description">
        <div>increases defences against death, holly and fire</div>
    </div>
</div>
<div class="attack">
    <div class="title">Dazzle</div>
    <div class="description">
        <div>does medium blunt damage</div>
        <div>stuns target</div>
    </div>
</div>
<div class="attack">
    <div class="title">Fire beam</div>
    <div class="description">
        <div>does medium blunt damage</div>
    </div>
</div>
<div class="buff">
    <div class="title">Stone skin</div>
    <div class="description">
        <div>increases defences against blunt, cutting and piercing</div>
    </div>
</div>
<div class="debuff">
    <div class="title">Magical burn</div>
    <div class="description">
        <div>adds fire damage effect</div>
        <div>adds stun effect</div>
    </div>
</div>
<div class="buff">
    <div class="title">Fire burst</div>
    <div class="description">
        <div>increases fire damage</div>
    </div>
</div>
<div class="attack">
    <div class="title">Burnicide</div>
    <div class="description">
        <div>does high damage</div>
        <div>inflict damage to him self</div>
    </div>
</div>