<div class="buff">
    <div class="title">Pray</div>
    <div class="description">
        <div>protects from poison, bleed and stun effects</div>
    </div>
</div>
<div class="heal">
    <div class="title">Self aid</div>
    <div class="description">
        <div>heals for a high amount of health</div>
    </div>
</div>
<div class="attack">
    <div class="title">Heaven strike</div>
    <div class="description">
        <div>does high holly damage</div>
    </div>
</div>
<div class="debuff">
    <div class="title">Hammer strike</div>
    <div class="description">
        <div>adds stun effect</div>
    </div>
</div>
<div class="attack">
    <div class="title">Blinding flash</div>
    <div class="description">
        <div>does high holly damage</div>
    </div>
</div>
<div class="buff">
    <div class="title">Great shield of lite</div>
    <div class="description">
        <div>protects from poison and bleed effects</div>
        <div>removes poison and bleed effects</div>
    </div>
</div>
<div class="attack">
    <div class="title">Chopping</div>
    <div class="description">
        <div>does high cutting damage</div>
    </div>
</div>
<div class="buff">
    <div class="title">Faith power</div>
    <div class="description">
        <div>increases damage</div>
    </div>
</div>