.block {
    border: solid 1px white;
}

.selected {
    border-color: green;
}

.target {
    border-color: red;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.portraitBox {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px 200px;
}

.portrait {
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    background-clip: content-box;
}


.portrait_right {
    transform: scaleX(-1);
}

.hud {
    display: inline-block;
    background: black;
}

.hud_left {
    left: 0;
}

.hud_right {
    right: 0;
}

.effect {
    background-image: url("https://res.cloudinary.com/dstnxq7wt/image/upload/v1540825337/battle/icons/effects.png");
    width: 25px;
    height: 25px;
    background-size: 250px 250px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.effect.bleeding {
    background-position: -125px 0;
}

.effect.burning {
    background-position: -75px -50px;
}
