<div class="attack">
    <div class="title">Axe strike</div>
    <div class="description">
        does medium cutting damage
    </div>
</div>
<div class="buff">
    <div class="title">Blood rage</div>
    <div class="description">
        raises damage for the cost of health
    </div>
</div>
<div class="attack">
    <div class="title">Crushing strike</div>
    <div class="description">
        does medium cutting damage, have higher crit
    </div>
</div>
<div class="buff">
    <div class="title">Bless of ancestors</div>
    <div class="description">
        increases defence
    </div>
</div>
<div class="debuff">
    <div class="title">Stunning roar</div>
    <div class="description">
        stuns target
    </div>
</div>
<div class="attack">
    <div class="title">Berserk power</div>
    <div class="description">
        do high damage, with high chance of a crit
    </div>
</div>
<div class="attack">
    <div class="title">Blood sacrifice</div>
    <div class="description">
        you loose half health, and target gets as much damage
    </div>
</div>
<div class="attack">
    <div class="title">Bleeding wound</div>
    <div class="description">
        <div>does high cutting damage</div>
        <div>adds bleeding effect to the target</div>
    </div>
</div>