:host {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 40%;
    bottom: 0;
    padding: 0 5%;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    user-select: auto;
}

p {
    user-select: auto;
}

@media all and (max-width: 600px) {
    :host {
        position: static;
        width: 100%;
        padding: 0 10px;
    }
}