<div class="attack">
    <div class="title">Tail sweep</div>
    <div class="description">
        does medium blunt damage
    </div>
</div>
<div class="attack">
    <div class="title">Claw strike</div>
    <div class="description">
        <div>increases defences against piercing, cutting and blunt</div>
        <div>add bleeding effect</div>
    </div>
</div>
<div class="attack">
    <div class="title">Fire breath</div>
    <div class="description">
        <div>does high fire damage</div>
    </div>
</div>
<div class="buff">
    <div class="title">Flaming armor</div>
    <div class="description">
        increases defences against fire and holly
    </div>
</div>
<div class="attack">
    <div class="title">Poison bite</div>
    <div class="description">
        <div>does very low cutting damage</div>
        <div>adds poison effect</div>
    </div>
</div>
<div class="buff">
    <div class="title">Wings of steel</div>
    <div class="description">
        increases defences against cutting and blunt
    </div>
</div>
<div class="buff">
    <div class="title">High vitality</div>
    <div class="description">
        <div>protects from effects of bleed, poison and stun</div>
    </div>
</div>
<div class="summon">
    <div class="title">Summon Imp</div>
    <div class="description">
        summons Imp
    </div>
</div>