<div class="buff">
    <div class="title">Music power</div>
    <div class="description">
        increases damage of all songs
    </div>
</div>
<div class="debuff">
    <div class="title">Stunning song</div>
    <div class="description">
        stuns target
    </div>
</div>
<div class="attack">
    <div class="title">Ear bleed</div>
    <div class="description">
        <div>does medium death damage</div>
    </div>
</div>
<div class="heal">
    <div class="title">Healing melody</div>
    <div class="description">
        heals bard
    </div>
</div>
<div class="debuff">
    <div class="title">Demoralize</div>
    <div class="description">
        decreases targets damage
    </div>
</div>
<div class="attack">
    <div class="title">Knife throw</div>
    <div class="description">
        does medium piercing damage
    </div>
</div>
<div class="attack">
    <div class="title">Guitar strike</div>
    <div class="description">
        <div>does low blunt damage</div>
    </div>
</div>
<div class="attack">
    <div class="title">Immunity</div>
    <div class="description">
        increases defences against holy, fire and death
    </div>
</div>