<div class="attack">
    <div class="title">Shuriken hurl</div>
    <div class="description">
        does medium piercing damage
    </div>
</div>
<div class="attack">
    <div class="title">Poison kunai</div>
    <div class="description">
        <div>does medium piercing damage</div>
        <div>adds poison effect</div>
    </div>
</div>
<div class="attack">
    <div class="title">Sudden strike</div>
    <div class="description">
        <div>does medium cutting damage</div>
    </div>
</div>
<div class="attack">
    <div class="title">Bloody wound</div>
    <div class="description">
        <div>does medium piercing damage</div>
        <div>adds bleeding effect</div>
    </div>
</div>
<div class="attack">
    <div class="title">Stun grenade</div>
    <div class="description">
        <div>does low piercing damage</div>
        <div>adds stun effect</div>
    </div>
</div>
<div class="buff">
    <div class="title">Chain shackle</div>
    <div class="description">
        <div>increases damage</div>
    </div>
</div>
<div class="attack">
    <div class="title">Poison blade</div>
    <div class="description">
        <div>does medium piercing damage</div>
        <div>adds poison effect</div>
    </div>
</div>
<div class="buff">
    <div class="title">Vanish</div>
    <div class="description">
        <div>nullify incoming damage</div>
        <div>protects from any effect</div>
    </div>
</div>