:local(.App) {
  text-align: center;
}

:local(.me) {
  position: absolute;
  left: 0;
  top: 0;
}

:local(.opponent) {
  position: absolute;
  right: 0;
  top: 0;
}

:local(.startButton) {
  background-color: transparent;
  border: solid 4px white;
  border-radius: 0;
  color: white;
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 20px;
}

:local(.label) {
  position: absolute;
  bottom: 0;
  right: 0;
  color: red;
  padding-right: 40px;
}

:local(.arena) {
  width: 100%;
  height: 100%;
}

:local(.mySkillsSelect) {
  position: absolute;
  left: 0;
  bottom: 200px;
  width: 50%;
  box-sizing: border-box;
  padding: 50px;
}

:local(.languageSelector){
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 20px;
}
