<div class="attack">
    <div class="title">Accurate shot</div>
    <div class="description">
        <div>does medium piercing damage, with high crit chance</div>
    </div>
</div>
<div class="attack">
    <div class="title">Triple shot</div>
    <div class="description">
        <div>does low piercing damage</div>
        <div>chance to repeat up to three times</div>
    </div>
</div>
<div class="summon">
    <div class="title">Wolf</div>
    <div class="description">
        <div>summons wolf</div>
    </div>
</div>
<div class="buff">
    <div class="title">Hide</div>
    <div class="description">
        <div>nullifies piercing, cutting, blunt and poison damage</div>
        <div>adds stun effect</div>
    </div>
</div>
<div class="attack">
    <div class="title">Explosion arrow</div>
    <div class="description">
        <div>does medium fire damage</div>
    </div>
</div>
<div class="buff">
    <div class="title">Smoke screen</div>
    <div class="description">
        <div>increases crit chance</div>
    </div>
</div>
<div class="buff">
    <div class="title">Beast inside</div>
    <div class="description">
        <div>increases health of wolves</div>
    </div>
</div>
<div class="heal">
    <div class="title">Animal care</div>
    <div class="description">
        <div>heals wolves</div>
    </div>
</div>