<div class="attack">
    <div class="title">Bone spike</div>
    <div class="description">
        does medium piercing damage
    </div>
</div>
<div class="debuff">
    <div class="title">Weakness</div>
    <div class="description">
        <div>decreases targets damage</div>
    </div>
</div>
<div class="attack">
    <div class="title">Death touch</div>
    <div class="description">
        <div>does high death damage</div>
    </div>
</div>
<div class="summon">
    <div class="title">Skeleton</div>
    <div class="description">
        <div>summons Skeleton</div>
    </div>
</div>
<div class="buff">
    <div class="title">Bone armor</div>
    <div class="description">
        <div>increases defences against cutting and piercing damage</div>
        <div>protects from poison and bleed effects</div>
    </div>
</div>
<div class="buff">
    <div class="title">Undead power</div>
    <div class="description">
        <div>increases death damage</div>
        <div>increases defences against holly damage</div>
    </div>
</div>
<div class="buff">
    <div class="title">Undead aura</div>
    <div class="description">
        <div>increases damage of all skeletons</div>
    </div>
</div>
<div class="attack">
    <div class="title">Death breath</div>
    <div class="description">
        <div>does high death damage</div>
    </div>
</div>